.my-cart-product-img {
  width: 250px;
  height: auto;
}
.my-cart-btn {
  text-align: center;
  width: 22px;
  height: 22px;
  font-size: 14px;
  background-color: transparent;

  border: 1px solid #0000001c;
}
